<% if session[:login_session] %>
  <p>You are logged in as <%= logged_in_user.email %>.</p>
  <%= form_tag("logout") do %>
    <button type="submit" class="btn" id="logout">Logout</button>
  <% end %>
  <% if !other_active_sessions.empty? %>
  <h2>Other active sessions</h2>
  <table class="table table-striped">
    <thead>
      <tr><th>Activated at</th><th>IP</th><th>User agent</th></tr>
    </thead>
    <tbody>
    <% other_active_sessions.each do |as| %>
      <tr>
        <td>
          <%= h friendly_time(as.activated_at) %>
        </td>
        <td>
          <%= h as.activating_ip %>
        </td>
        <td>
          <%= h browser_name(as.activating_user_agent) %>
        </td>
        <td>
          <button class="btn revoke">Revoke</button>
          <input type="hidden" value="<%= h as.id %>">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  <% if !inactive_sessions.empty? %>
  <h2>Inactive sessions</h2>
  <table class="table table-striped">
    <thead>
      <tr><th>Terminated at</th><th>IP</th><th>User agent</th></tr>
    </thead>
    <tbody>
    <% inactive_sessions.each do |is| %>
      <tr>
        <td>
          <%= h friendly_time(is.terminated_at) %>
        </td>
        <td>
          <%= h is.activating_ip %>
        </td> 
        <td>
          <%= h browser_name(is.activating_user_agent) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <%= form_tag("send_login_email") do %>
    <input type="text" id="email" name="email" placeholder="you@example.com">
    <button type="submit" id="submit_email" class="btn">Login</button>
  <% end %>
<% end %>
