<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login request from <%= @host %></title>
  </head>
  <body>
    <p>We recieved a request for <%= @email %> to log in to <%= @host %>.</p>
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          Location:
          <b><%= @geo %></b>
        </td>
      <tr>
        <td>
          IP:        
          <b><%= @remote_ip %></b>
        </td>
      </tr>
      <tr>
        <td>
          User agent:
          <b><%= @user_agent %></b>
        </td>
      </tr>
      <tr>
        <td>
          Time:
          <b><%= @time %></b>
        </td>
      </tr>
    </table>
    <p>
    To log in, click here: <%= url_for(:host => @host, :controller => "nopassword", :action => "login", :id => @id, :code => @code) %>
    </p>
    <p>
    If not, please ignore this email.
    </p>
  </body>
</html>
