<!DOCTYPE html>
<html>
  <head>
    <title>NoPassword</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">NoPassword</a>
        </div>
      </div>
    </div>
    <div class="container">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
